.hr {
    padding: 5px !important;
    margin: 5px !important;
    width: 100% !important;
}

.kontoTyp {
    color: grey !important;
    font-size: small !important;

}

#header {
    padding-top: 10px !important;
}

#kontoansicht {
    -webkit-box-shadow: 5px 1px 10px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 5px 1px 10px 1px rgba(0, 0, 0, 0.08);
    border-left: 6px solid red !important;
}

.geld {
    color: green !important;
    float: right !important;
    font-size: large !important;
}

.nameAv {
    color: gray !important;
    font-size: small !important;
    font-style: italic !important;
}

.nameClass {
    font-size: large !important;

}

.settings {
    float: right !important;
    margin-top: -0.5em !important;
    transition: all 0.4s !important;
}

.settings:hover {
    transform: rotate(60deg) !important;
}

#umsatzverlauf {
    -webkit-box-shadow: 5px 1px 10px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 5px 1px 10px 1px rgba(0, 0, 0, 0.08);
    border-left: 6px solid blueviolet !important;
}

.titanic {
    float: none;
}

.date {
    float: left !important;
    display: inline !important;
}

.amount {
    float: right !important;
}

.IBAN_Other {
    font-size: smaller !important;
    font-style: italic !important;
    color: grey !important;
}

.middle {
    margin-left: 10% !important;
    float: left !important;
    display: inline !important;
}

#umsatzverlaufSettings {
    margin-top: -0.5% !important;
}

.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.button:hover {
    background: #06D85F;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}

.input-icon {
    position: relative;
}

.input-icon > i {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 50%;
    pointer-events: none;
    width: 25px;
    text-align: center;
    font-style: normal;
}

.input-icon > input {
    padding-left: 25px;
    padding-right: 0;
}

.input-icon-right > i {
    right: 0;
}

.input-icon-right > input {
    padding-left: 0;
    padding-right: 25px;
    text-align: right;
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #fff;
    cursor: default;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 10px 5px;
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #f0f0f0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399ff;
}